@model IEnumerable<BusinessTrips.Models.DutyJourney>
<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
           Отчество
        </th>
        <th>
            Должность
        </th>
        <th>
            Номер телефона
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Additionally)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginTrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalTrip)
        </th>
        <th>
            Транспорт:
        </th>
        <th>
            Дата выезда:
        </th>
        <th>
            Город отеля:
        </th>
        <th>
            Название отеля:
        </th>
        <th>
            Дата заселения:
        </th>
        <th>
            Дата выселения:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @foreach (var empl in item.Employees)
            {
                <td>
                    @empl.Name
                </td>
                <td>
                    @empl.Surname
                </td>
                <td>
                    @empl.Lastname
                </td>
            <td>
                @empl.OfficialPosition
            </td>
            <td>
                @empl.NumberPhone
            </td>

            }

            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Additionally)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalTrip)
            </td>
            @foreach (var passage in item.Passages)
            {
                <td>
                    @passage.Transport
                </td>
                <td>
                    @passage.DateofDeparture
                </td>
            }
            @foreach(var hotel in item.Hotels) { 
            <td>
                @hotel.City
            </td>
            <td>
                @hotel.Name
            </td>
            <td>
                @hotel.DateIn
            </td>
            <td>
                @hotel.DateEnd
            </td>
            }
        </tr>
    }

</table>

@using (Html.BeginForm("ExportToWord", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="form-group">
        <div class="form-group row">
            <div class="form-group row">

                
                        <input id="file" type="text" name="Surname" style="display:none;" value="@foreach (var item in Model)
                {                        foreach (var empl in item.Employees)
                        {
                                @empl.Surname
                        }}" />
                        <input type="submit" value="Импорт" class="btn btn-primary" style="margin-top: 10px;" />
</div>
           
        </div>
    </form>
}
