@model BusinessTrips.Models.DutyJourney

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DutyJourney</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additionally)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additionally)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalTrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalTrip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
