@model IEnumerable<BusinessTrips.Models.DutyJourney>

@{
    ViewBag.Title = "Index";
}

<h2>Страница работы с командировками</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Additionally)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginTrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalTrip)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FreeDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Additionally)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginTrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalTrip)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) 
            @if (User.IsInRole("Admin")) {
                Html.ActionLink("Удалить", "Delete", new { id = item.Id });
            }
        </td>
    </tr>
}

</table>
