@model IEnumerable<BusinessTrips.Models.Employee>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<h2>@ViewBag.Message</h2>
@Html.Raw(ViewBag.data)
@ViewBag.dataAll
@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DutyJourneys.Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyJourneys.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyJourneys.WorkDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyJourneys.FreeDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyJourneys.BeginTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyJourneys.FinalTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pasport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPhone)
            </th>
        </tr>

        @*foreach (var item in Model)*@
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyJourneys.Point)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyJourneys.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyJourneys.WorkDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyJourneys.FreeDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyJourneys.BeginTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyJourneys.FinalTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pasport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPhone)
                </td>
            </tr>
        }

    </table>

}